body {
  color: var(--body-color);
  background-color: var(--base-color);
  overflow-x: hidden;
}
.padding {
  padding: 0% !important;
}

.font-branca {
  background-color: var(--base-color) !important;
  color: var(--body-color) !important;
}
.icone {
  background-color: #BBED2F !important;
  color: #BBED2F !important;
}

.img-algoritmo {    
  position: absolute;
  top: 0; 
  right: 0;
  height: auto;
  z-index: -1;
}
.img-github {
  width: 100%;
  height: 80%;
}

.img-midias-sociais {
  width: auto;
  height: auto;
}
@media (max-width: 440px){
  .img-midias-sociais{
    width: 220px;
  }
}

.img-sobre{
  position: absolute;
  right: 0;
}


.espacamento-contatos {
  margin-left: 30%;
}
@media(max-width: 600px){
  .espacamento-contatos{
    margin-left: 0%;
  }
}

.espacamento-padrao{
  margin-top: 15% !important;
}

@media(max-width: 600px){
  .icones{
    width: auto !important;
    height: auto !important;
    display: block !important;
  }
}

.icones{
  display: flex;
}

.img-icone{
  height: 50px;
  width: 40px;
  margin-right: 35px;
}

.escapamento-bottom {
  margin-bottom: 15% !important;
}

.espacamento-topo{
  margin-top: 15% !important;
}

.espacamento-habilidades{
  margin-top: 45%;
}

.bg-preto{
  background-color: var(--base-color) !important;
}

.nav-bar-quadro{
  background-color: var(--base-color-clara) !important;
}

.text{
  font-size: var(--title-font-size);
}

:root {
  /* colors */
  --hue: 280;
  /* HSL color mode */
--base-color: #000000;
--base-color-clara: #444444;
--base-color-second: #BBED2F;
--title-color: hsl(var(--hue) 41% 10%);
--text-color: hsl(0 0% 46%);
--text-color-light: hsl(0 0% 98%);
--body-color: hsl(0 0% 98%);

/*fonts*/
--title-font-size: 1.875rem;
--subtitle-font-size: 1rem;

--title-font: "poppins", sans-serif;
--body-font: "DM Sans", sans-serif;
}

@media (max-width: 1002px){
  .img-sobre{
    width: 50vw;
  }

  .espacamento-topo{
    margin-top: 30% !important;
  }
}

@media (max-width: 440px){
  .img-sobre{
    width: 220px;
  }

  .espacamento-habilidades{
    margin-top: 400px;
  }
}

@media (max-width: 767px) and (min-width: 440px){
  .espacamento-habilidades{
    margin-top: 90%;
  }  
}

