.font-branca {
  background-color: var(--base-color) !important;
  color: var(--body-color) !important;
}

.img-algoritmo {    
  position: absolute;
  top: 0; 
  right: 0;
  height: auto;
  z-index: -1;
}

.img-sobre{
  position: absolute;
  right: 0;
}

body {
  color: var(--body-color);
  background-color: var(--base-color);
}

.section-1 {
  width: 100%;
  height: 100%;
}
.section-2 {
  width: 100%;
  height: 100%;
}
.section-3 {
  width: 100%;
  height: 100%;
}
.section-4 {
  width: 100%;
  height: 100%;
}
.section-5 {
  width: 100%;
  height: 100%;
}

.espacamento-padrao{
  margin-top: 15% !important;
}

.espacamento-habilidades{
  margin-top: 45%;
}

:root {
  /* colors */
  --hue: 280;
  /* HSL color mode */
--base-color: #000000;
--base-color-second: #BBED2F;
--title-color: hsl(var(--hue) 41% 10%);
--text-color: hsl(0 0% 46%);
--text-color-light: hsl(0 0% 98%);
--body-color: hsl(0 0% 98%);

/*fonts*/
--title-font-size: 1.875rem;
--subtitle-font-size: 1rem;

--title-font: "poppins", sans-serif;
--body-font: "DM Sans", sans-serif;
}

@media (max-width: 1002px){
  .img-sobre{
    width: 50vw;
  }
}

@media (max-width: 440px){
  .img-sobre{
    width: 220px;
  }

  .espacamento-habilidades{
    margin-top: 400px;
  }
}

@media (max-width: 767px) and (min-width: 440px){
  .espacamento-habilidades{
    margin-top: 90%;
  }
}